<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Working">
	<resultMap type="Working" id="WorkingResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="depId" column="DEP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="depName" column="DEP_NAME" />
		<result property="today" column="TODAY" />
		<result property="tTime" column="TTTIME" />
		<result property="leaveTime" column="LEAVETIME" />
	</resultMap>
	<resultMap type="VacationLi" id="VacationResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="depId" column="DEP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="depName" column="DEP_NAME" />
		<result property="vacReason" column="VAC_REASON" />
		<result property="vacType" column="VAC_TYPE" />
		<result property="startDate" column="STARTDATE" />
		<result property="endDate" column="ENDDATE" />
	</resultMap>
	<resultMap type="PromotionLi" id="PromotionResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="jobCode" column="JOB_CODE"/>
		<result property="depId" column="DEP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="depName" column="DEP_NAME" />
		<result property="jobName" column="JOB_NAME" />
		<result property="jobReason" column="JOB_REASON"/>
		<result property="jobRecordDate" column="JOB_RECORD_DATE" />
	</resultMap>
		<resultMap type="VacationIn" id="VacationInResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="depId" column="DEP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="depName" column="DEP_NAME" />
		<result property="vacReason" column="VAC_REASON" />
		<result property="vacType" column="VAC_TYPE" />
		<result property="vacStartDate" column="VAC_STARTDATE" />
		<result property="vacEndDate" column="VAC_ENDDATE" />
	</resultMap>
		<resultMap type="PromotionIn" id="PromotionInResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME" />
		<result property="jobReason" column="JOB_REASON"/>
		<result property="jobRecordDate" column="JOB_RECORD_DATE" />
	
	</resultMap>
	<!-- 근태 부서별 조회-->
	<select id="workingSelectList" resultMap="WorkingResultSet" parameterType="Working">
	SELECT E.EMP_NAME ,DEP_NAME,TO_CHAR(WR.HOURS,'YYYY-MM-DD')TODAY, MIN(TO_CHAR(WR.HOURS,'HH24:MI:SS')) TTTIME , MAX(TO_CHAR(WR.HOURS,'HH24:MI:SS')) LEAVETIME 
	FROM WORKING_RECORD WR 
	JOIN EMPLOYEE E ON (E.EMP_NO = WR.EMP_NO)
	JOIN DEPT_RECORD DR ON(E.EMP_NO = DR.EMP_NO)
	JOIN DEPARTMENT D ON (DR.DEP_ID = D.DEP_ID)
	WHERE DEP_NAME = #{depName}
	GROUP BY D.DEP_NAME,E.EMP_NAME,TO_CHAR(WR.HOURS, 'YYYY-MM-DD')
	ORDER BY TODAY DESC 
	</select>
	<!-- 근태 월별 조회-->
	<select id="workingdaySelectList" resultMap="WorkingResultSet" parameterType="Working">
	SELECT E.EMP_NAME ,DEP_NAME,TO_CHAR(WR.HOURS,'YYYY-MM-DD')TODAY, MIN(TO_CHAR(WR.HOURS,'HH24:MI:SS')) TTTIME , 
	MAX(TO_CHAR(WR.HOURS,'HH24:MI:SS')) LEAVETIME 
	FROM WORKING_RECORD WR 
	JOIN EMPLOYEE E ON (E.EMP_NO = WR.EMP_NO)
	JOIN DEPT_RECORD DR ON(E.EMP_NO = DR.EMP_NO)
	JOIN DEPARTMENT D ON (DR.DEP_ID = D.DEP_ID)
	WHERE TO_CHAR(WR.HOURS, 'MM') = #{day}
	AND DEP_NAME=#{depName}
	AND TO_CHAR(WR.HOURS,'YYYY') = #{year}
	GROUP BY D.DEP_NAME,E.EMP_NAME,TO_CHAR(WR.HOURS, 'YYYY-MM-DD')
	ORDER BY TODAY DESC

	</select>
	<!-- 휴가 부서별 조회 -->
	<select id="vacationDepSelectList" resultMap="VacationResultSet" parameterType="VacationLi">
	SELECT E.EMP_NAME , D.DEP_NAME, V.VAC_REASON,V.VAC_TYPE ,TO_CHAR(V.VAC_STARTDATE,'YYYY-MM-DD')STARTDATE , TO_CHAR(V.VAC_ENDDATE,'YYYY-MM-DD')ENDDATE  
	FROM VACATION V 
	JOIN EMPLOYEE E ON (V.EMP_NO = E.EMP_NO) 
	JOIN DEPT_RECORD DR ON (E.EMP_NO = DR.EMP_NO)
	JOIN DEPARTMENT D ON (D.DEP_ID=DR.DEP_ID)
	WHERE D.DEP_NAME = #{depName} AND TO_CHAR(V.VAC_ENDDATE,'YYYY-MM-DD') >= SYSDATE
	</select>
	
	<!-- 휴가 월별 조회 -->
	<select id="vacationDaySelectList" resultMap="VacationResultSet" parameterType="String">
	SELECT E.EMP_NAME , D.DEP_NAME, V.VAC_REASON,V.VAC_TYPE ,TO_CHAR(V.VAC_STARTDATE,'YYYY-MM-DD')STARTDATE , TO_CHAR(V.VAC_ENDDATE,'YYYY-MM-DD')ENDDATE  
	FROM VACATION V 
	JOIN EMPLOYEE E ON (V.EMP_NO = E.EMP_NO) 
	JOIN DEPT_RECORD DR ON (E.EMP_NO = DR.EMP_NO)
	JOIN DEPARTMENT D ON (D.DEP_ID=DR.DEP_ID)
	WHERE TO_CHAR(V.VAC_STARTDATE, 'MM') = #{day} AND TO_CHAR(V.VAC_ENDDATE,'YYYY-MM-DD') >= SYSDATE
	</select>
	
	<!-- 진급 부서별 조회 -->
	<select id="promotionDepSelectList" resultMap="PromotionResultSet" parameterType="PromotionLi">
	SELECT E.EMP_NAME , JOB_REASON,J.JOB_NAME,DEP_NAME ,TO_CHAR(JOB_RECORD_DATE,'YYYY-MM-DD')JOB_RECORD_DATE
	FROM JOB_RECORD JR
	JOIN JOB J ON (J.JOB_CODE = JR.JOB_CODE)
	JOIN EMPLOYEE E ON (E.EMP_NO = JR.EMP_NO)
	JOIN DEPT_RECORD DR ON (JR.EMP_NO = DR.EMP_NO)
	JOIN DEPARTMENT D ON (DR.DEP_ID = D.DEP_ID)
	WHERE JOB_RECORD_DATE = (SELECT MAX(JOB_RECORD_DATE) FROM JOB_RECORD R WHERE R.EMP_NO = E.EMP_NO)  
	AND DEP_NAME = #{depName} AND NOT JOB_REASON = '입사'  
	ORDER BY JOB_RECORD_DATE DESC
	
	</select>
	<!-- 진급 월별 조회 -->
	<select id="promotionDaySelectList" resultMap="PromotionResultSet" parameterType="PromotionLi">
	SELECT E.EMP_NAME , JOB_REASON,J.JOB_NAME,DEP_NAME ,TO_CHAR(JOB_RECORD_DATE,'YYYY-MM-DD')JOB_RECORD_DATE
	FROM JOB_RECORD JR
	JOIN JOB J ON (J.JOB_CODE = JR.JOB_CODE)
	JOIN EMPLOYEE E ON (E.EMP_NO = JR.EMP_NO)
	JOIN DEPT_RECORD DR ON (JR.EMP_NO = DR.EMP_NO)
	JOIN DEPARTMENT D ON (DR.DEP_ID = D.DEP_ID)
	WHERE JOB_RECORD_DATE = (SELECT MAX(JOB_RECORD_DATE) FROM JOB_RECORD R WHERE R.EMP_NO = E.EMP_NO) 
	AND DEP_NAME = #{depName} 
	AND TO_CHAR(JR.JOB_RECORD_DATE,'YYYY') = #{year} 
	AND TO_CHAR(JR.JOB_RECORD_DATE,'MM') = #{day} 
	AND NOT JOB_REASON = '입사'
	ORDER BY JOB_RECORD_DATE DESC
	</select>
	<insert id="insertVacation" parameterType="VacationIn">
	INSERT INTO "FINAL"."VACATION"(VAC_NO,EMP_NO,VAC_REASON,VAC_TYPE,VAC_STARTDATE,VAC_ENDDATE)
    VALUES (VAC_NO.NEXTVAL,#{empNo},#{vacReason},#{vacType},#{vacStartDate},#{vacEndDate})
	</insert>
	
	<insert id="insertPromotion" parameterType="PromotionIn">
	INSERT INTO "FINAL"."JOB_RECORD"(JOB_RECORD_NO,JOB_RECORD_DATE,JOB_REASON,JOB_CODE,EMP_NO)
	VALUES(JOB_RECORD_NO.NEXTVAL,#{jobRecordDate},#{jobReason},#{jobCode},#{empNo})
	</insert>
	

	
</mapper>


















